{% extends 'base.html' %}

{% block extrahead %}
	{{ form.media }}

	<style>
		.dj_map_wrapper {
			float: none !important;
			width: 100%;
			display: block;
			margin: 0 auto;
		}

		.dj_map {
			width: 100%;
			height: 15rem;
		}

		.clear_features {
			display: none;
		}

		.gcd-gl-input {
			height: auto !important;
			margin: initial !important;
		}
	</style>

	<link href="https://cdn.jsdelivr.net/npm/ol-geocoder/dist/ol-geocoder.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/ol-geocoder/dist/ol-geocoder.js"></script>

	<script>
	function watch_point(event) {
		let coords = ol.proj.toLonLat(event.target.values_.geometry.flatCoordinates);

		document.getElementById("lon").value = coords[0];
		document.getElementById("lat").value = coords[1];
	}

	function set_pos(lon, lat) {
		const lonLat = ol.proj.fromLonLat([lon, lat]);
		document.getElementById("lon").value = lon;
		document.getElementById("lat").value = lat;

		const feature = new ol.Feature({
			geometry: new ol.geom.Point(lonLat),
		});

		const style = new ol.style.Style({
			image: new ol.style.Circle({
				radius: 12,
				fill: new ol.style.Fill({
					color: "blue",
				}),
				stroke: new ol.style.Stroke({
					color: "white",
					width: 2,
				}),
			}),
			zIndex: Infinity,
		});

		feature.setStyle(style);

		geodjango_loc_gps.featureCollection.clear();
		geodjango_loc_gps.featureCollection.push(feature);
		geodjango_loc_gps.featureCollection.array_[0].on("change", watch_point);

		geodjango_loc_gps.map.setView(new ol.View({
			center: lonLat,
			zoom: 15
		}));

		const inputField = document.getElementById("id_loc_gps");
		inputField.value = JSON.stringify({
			type: "Point",
			coordinates: lonLat
		});
	}

	function set_gps() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				set_pos(position.coords.longitude, position.coords.latitude);
			}, function(error) {
				set_pos(14.4032022, 50.0883456);
			});
		} else {
			set_pos(14.4032022, 50.0883456);
		}
	};

	window.addEventListener("load", () => {
		const geocoder = new Geocoder("nominatim", {
			provider: "osm",
			key: "",
			lang: "en-US",
			preventMarker: true,
			limit: 5
		});
		geodjango_loc_gps.map.addControl(geocoder);
		geocoder.on("addresschosen", function(event) {
			const [lon, lat] = ol.proj.toLonLat(event.coordinate);
			set_pos(lon, lat);
		});

		if (geodjango_loc_gps.featureCollection.array_.length > 0)
			geodjango_loc_gps.featureCollection.array_[0].on("change", watch_point);

		const lon = document.getElementById("lon");
		const lat = document.getElementById("lat");
		const inputField = document.getElementById("id_loc_gps");

		if (lon.value && lat.value) {
			set_pos(lon.value, lat.value);
		} else if (inputField.value) {
			const [lon_, lat_] = ol.proj.toLonLat(JSON.parse(inputField.value).coordinates);
			set_pos(lon_, lat_);
		} else {
			set_gps();
		}

		lon.addEventListener("change", function(event) {
			set_pos(lon.value, lat.value);
		});
		lat.addEventListener("change", function(event) {
			set_pos(lon.value, lat.value);
		});
	});

	let form_num = 0;
	function add_upload() {
		let controls = document.getElementById("controls");

		let item = document.createElement("article");
		item.innerHTML = `<div class="grid">{{ attachments.empty_form.file }}{{ attachments.empty_form.note }}<button style="margin-bottom: var(--pico-spacing);" onclick="remove(event)">Remove</button></div>`.replaceAll("__prefix__", form_num);

		let total = document.querySelector("#id_attachments-TOTAL_FORMS");

		controls.parentNode.insertBefore(item.cloneNode(true), controls);

		let field = document.getElementById(`id_attachments-${form_num}-file`);

		form_num++;
		total.setAttribute("value", `${form_num+1}`);
		return field;
	}

	function remove(event) {
		event.target.parentNode.parentNode.remove();
	}

	async function capture () {
		let file_input = add_upload();
		file_input.setAttribute("capture", "environment");
		file_input.click();
		
		/*previewImage.src = URL.createObjectURL(file);
		previewImage.style.display = "block";*/
	}
	</script>
{% endblock %}

{% block main %}
	<form method="POST" enctype="multipart/form-data">
		<article>
			{% csrf_token %}
			<fieldset>
				<h2>Scent</h2>
				<label>
					{{ form.name.field.label }}
					{{ form.name }}
				</label>
				<label>
					{{ form.author.field.label }}
					{{ form.author }}
				</label>
				<label>
					{{ form.user.field.label }}
					{{ form.user }}
				</label>
				<label>
					{{ form.scent_desc.field.label }}
					{{ form.scent_desc }}
				</label>
				<label>
					{{ form.sampling_params.field.label }}
					{{ form.sampling_params }}
				</label>
			</fieldset>
			<fieldset>
				<h2>Location</h2>
				{{ form.loc_gps }}
				<div>
				<table>
					<tr><td>Longitude (X)</td><td><input type="number" step="any" id="lon" /></td></tr>
					<tr><td>Latitude (Y)</td><td><input type="number" step="any" id="lat" /></td></tr>
				</table>
				<button type="button" onclick="set_gps();">Use my location</button>
				<label>
					{{ form.loc_desc.field.label }}
					{{ form.loc_desc }}
				</label>
			</fieldset>
			<fieldset>
				<h2>Weather</h2>
				<table>
					<tr><td>{{ form.temperature.field.label }}</td><td>{{ form.temperature }}</td></tr>
					<tr><td>{{ form.humidity.field.label }}</td><td>{{ form.humidity }}</td></tr>
					<tr><td>{{ form.was_raining.field.label }}</td><td>{{ form.was_raining }}</td></tr>
					<tr><td>{{ form.was_sunny.field.label }}</td><td>{{ form.was_sunny }}</td></tr>
				</table>
				{{ form.weather_note.field.label }}
				{{ form.weather_note }}
			</fieldset>
			<fieldset>
				<h2>Other</h2>
				<label>
					{{ form.note.field.label }}
					{{ form.note }}
				</label>
			</fieldset>
		</article>

		{{ attachments.management_form }}

		{% for attachment in attachments %}
			<article>
				{{ attachment.as_p }}
			</article>
		{% endfor %}

		<article id="controls">
			<div role="group">
				<button type="button" class="secondary" onclick="capture()">Take photo</button>
				<button type="button" class="secondary" onclick="add_upload();">Upload photo/video</button>
			</div>

			<input type="submit" />
		</article>
	</form>
{% endblock %}
