{% extends 'base.html' %}
{% load verbose_names %}
{% load checkboxes %}

{% block extrahead %}
<style>
	article h2, article h3 {
		text-align: center;
	}

	table th[colspan="2"] {
		font-weight: bold;
	}
</style>
{% endblock %}

{% block main %}
	<article>
		<h2>Scent {{ object.sqid }}</h2>

		<table>
			<tr><th colspan="2">General Info</th></tr>
			<tr><th>ID</th><td>{{ object.sqid }}</td></tr>

			<tr><th colspan="2">Scent</th></tr>
			<tr><th>{% verbose_name object "author" %}</th><td>{{ object.author }}</td></tr>
			<tr><th>{% verbose_name object "user" %}</th><td>{{ object.user }}</td></tr>
			<tr><th>{% verbose_name object "scent_desc" %}</th><td>{{ object.scent_desc }}</td></tr>
			<tr><th>{% verbose_name object "sampling_params" %}</th><td>{{ object.sampling_params }}</td></tr>

			<tr><th colspan="2">Location</th></tr>
			<tr><th>Longitude (X)</th><td>{{ object.loc_gps.x }}</td></tr>
			<tr><th>Latitude (Y)</th><td>{{ object.loc_gps.y }}</td></tr>
			<tr><th>{% verbose_name object "loc_desc" %}</th><td>{{ object.loc_desc }}</td></tr>

			<tr><th colspan="2">Weather</th></tr>
			<tr><th>{% verbose_name object "temperature" %}</th><td>{{ object.temperature }}</td></tr>
			<tr><th>{% verbose_name object "humidity" %}</th><td>{{ object.humidity }}</td></tr>
			<tr><th>{% verbose_name object "was_raining" %}</th><td>{{ object.was_raining|checkbox }}</td></tr>
			<tr><th>{% verbose_name object "was_sunny" %}</th><td>{{ object.was_sunny|checkbox }}</td></tr>
			<tr><th>{% verbose_name object "weather_note" %}</th><td>{{ object.weather_note }}</td></tr>

			<tr><th colspan="2">Other</th></tr>
			<tr><th>{% verbose_name object "note" %}</th><td>{{ object.note }}</td></tr>
		</table>
		<h3>Attachments</h3>
		<ul>
			{% for attachment in object.attachments.all %}
				<li><a target="_blank" href="{{ attachment.file.url }}">{{ attachment.file }}</a></li>
			{% empty %}
				<li>There are no attachments for this scent.</li>
			{% endfor %}
		</ul>
		{% if request.user.is_authenticated %}
		<h3>Actions</h3>
		<div class="grid">
			<a role="button" href="{% url 'scent-edit' sqid=object.sqid %}">Edit</a>
			<a role="button" href="{% url 'scent-add' %}">Add another scent</a>
		</div>
		{% endif %}
	</article>
{% endblock %}
